@tailwind base;
@tailwind components;
@tailwind utilities;

/* Definition of the design system. All colors, gradients, fonts, etc should be defined here. 
All colors MUST be HSL.
*/

@layer base {
  :root {
    --background: 0 0% 98%;
    --foreground: 0 0% 9%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 9%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 9%;

    --primary: 195 100% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 0 0% 9%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 0 0% 89%;
    --input: 0 0% 89%;
    --ring: 195 100% 47%;

    --radius: 0.75rem;

    --chart-bg: 252 24% 18%;
    --chart-text: 0 0% 88%;
    --chart-border: 252 10% 30%;

    --gradient-purple-start: 262 83% 58%;
    --gradient-purple-end: 271 81% 56%;
    --gradient-cyan-start: 195 100% 47%;
    --gradient-cyan-end: 180 100% 50%;
    --gradient-salmon-start: 6 93% 71%;
    --gradient-salmon-end: 25 100% 71%;
    --gradient-green-start: 146 100% 78%;
    --gradient-green-end: 174 100% 73%;
  }

  .dark {
    --background: 252 24% 18%;
    --foreground: 0 0% 88%;

    --card: 252 24% 18%;
    --card-foreground: 0 0% 88%;

    --popover: 252 24% 18%;
    --popover-foreground: 0 0% 88%;

    --primary: 195 100% 47%;
    --primary-foreground: 0 0% 100%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 100%;

    --muted: 252 20% 25%;
    --muted-foreground: 0 0% 65%;

    --accent: 252 20% 25%;
    --accent-foreground: 0 0% 88%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 88%;

    --border: 252 10% 30%;
    --input: 252 10% 30%;
    --ring: 195 100% 47%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
